@import './all';

.collapser {

  .collapsable {
    overflow: hidden;
  }
   
  .more {
    
    .toggle {
      width: 100%;
      font-size: 1rem;
      padding: 1em 0.5em;
      border: none;
      cursor: pointer;
      outline: none;
      text-align: right;
      background-color: whitesmoke;
    }
  }
}
