@import './all';

.concert {
  h1 {
    font-size: 1.7rem;
  }

  p {
    margin: 10px 0;
  }
}

.concert-dates {
  padding: 0.75rem;
  font-size: 1.5rem;
}

.concert-date {
  padding-bottom: 1rem;

  .date {
    font-weight: bold;
  }

  .description {
    font-size: 1rem;
    font-style: italic;
  }
}