@import './all';

.jumbotron {
  display: flex;
  justify-content: center;

  .logo-wrap {
    padding: 0 10px;
  }

  img {
    @include mobile {
      max-height: 80vw;
    }
    @include tablet {
      max-height: 400px;
    }
  }
}
